nav{
    height: 60px;
    width: 100%;
    padding:0 2rem ;
    font-weight: bold;
    background: #dc3545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}
.website-title h3{
    font-weight: 800;
    color: #ffff;
}
.link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 1rem;
    color: #ffff;
    padding: 0.5rem;
    border-radius: 5px;
    color: #ffff;
    background: transparent;
    transition: 0.5s ease-in-out;
}

.link:hover {
    color: hsla(0, 0%, 0%, 0.8);
}
.active-link {
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-left: 15px;
    font-size: 1.5rem;
    transition: color ease-in-out 300ms;
    color: black;
}
.active-link:hover{
    color: black;
}
.signout-btn{
    color: #ffff;
    font-weight: bold;
    border: 1px solid #ffff;
    border-radius: 5px;
    background-color: #dc3545;
}