.checkout-btn{
    color: white;
    font-weight: bold;
    border-color: #dc3545;
    background-color: #dc3545;
    transition: 0.5s ease-in-out;
}

.checkout-btn:hover {
    border: 1px solid #dc3545;
    color: #dc3545;
    background: transparent;
}
.checkout-form {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
}

.checkout-form h2 {
    text-align: center;
    font-weight: 700;
    color: #dc3545;
    margin: 1rem;
}

.checkout-form input {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.checkout-form .input-btn {
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
}